requests==2.32.3
gunicorn==20.1.0
Flask==3.0.3
pandas==2.2.2
openai==1.35.10
nest-asyncio==1.6.0
numpy==1.26.4
h11==0.14.0
llama_index
deep_translator
langdetect
IPython
llama_index.core
llama_index.agent.openai
llama_index.llms
llama_index.core
llama_index.experimental
